/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* Layout */
.container{
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    width: calc(100% / 3);
}

/* Header */
.main-nav{
    background-color: rgb(255, 105, 0);
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    width: 100%;
}

.logo{
    display: block;
    width: 100px;
}

.nav-list{
    display: flex;
    gap: 10px;

}

.nav-list img{
    width: 16px;
}

nav .row{
    justify-content: space-between;
    align-items: center;
    
}

/* debug */
.debug{
    background-color: bisque;
    min-width: 100%;
    min-height: 1500px;
}